{% extends 'base.html' %}

 {% block title %}
About Page
{% endblock %}
{% load static %}

 {% block content %}
<body>
<div class="img">
   <img src="{% static '/image/backabout.jpg'%}" width="100%px"; height="800px">
    <div class="text ">
       <h1> ABOUT RENAI MEDCITY</h1><hr>
        <p class="para">A one-stop multi super specialty hospital that will take care of all your health and medical needs. Renai Medicity, come up with an expert insight into health services has set highest standards for quality and care to ensure top-notch healthcare experience.
         The hospital designed and conceived in a different way sprawls in Three acres of land adjacent to National Highway, between Palarivattom and Mamangalam, Cochin. Renai Medicity houses more than Forty departments, Envisaged to be a 500 patient bedded hospital Renai Medicity has world class Operation Theatres, 11 separate Intensive Care Units, multiple Cath Labs, State-of-the-art chest pain centre, 24-Hour Accident & Emergency care unit, most modern radiological equipment, 24 Hour Pharmacies and clinical Laboratories, centrally air conditioned Rooms, Suites and Wards, Multiple Restaurants, ample car parking facilities and more.</p>
        <P class="para">Built in Memory of our founder late Polakulath Narayanan, the hospital has evolved to its present form from his extraordinary vision. A dream cherished by him; to provide the most advanced healthcare to the society; a complete hospital that has world class facilities, affordable treatment costs at a location very much in the heart of the city.</P>
        <p class=para>Upholding the motto of quality healthcare, adopting state-of-the-art equipment and bringing together most modern facilities, Renai Medicity redefines the healthcare scenario of Kerala. Our vision is to assure comprehensive and affordable healthcare for all. Renowned specialists along with well-trained paramedical staff ensure a top-quality healthcare experience. From diagnosis to analysis, each phase of treatment is bestowed with utmost care and dedication.</p>
          <img src="{% static '/image/aboutimg2.jpg' %}" alt="" width="100%px"; height="400px">
    </div>


</div>


<!--</div>-->
</body>
{% endblock %}